@model proj1_OnlineStore.Models.ProductsViewModel

@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/_Layout.cshtml";
} 

<h1>Products</h1>

<form asp-controller="Order" asp-action="Products" method="get">
	<p>
        <select asp-for="Location" asp-items="Model.Locations" name="locationName">
            <option value="">Select</option>
        </select>
  
    </p>
	<input type="submit" value="Filter" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
				<input type="number" runat="server" min="0" max="@item.Qty"/>
            </td>
        </tr>
}
    </tbody>
</table>
